@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #2e3440;
  --second-bg-color: #232730;
  --text-color: #d8dee9;
  --input-bg-color: #3b4252;
  --input-placeholder-color: #88c0d0;
  --button-hover-color: #4c566a;
}
* {
  color: var(--text-color);
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--second-bg-color);
  min-height: 100vh;
}

.container {
  background: var(--bg-color);
  border-radius: 10px;
  min-width: 350px;
  min-height: 500px;
  display: flex;
  padding: 20px;
  transition: 0.3s;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 90%;
}

.name-city-input {
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 1rem;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  outline: none;
}

.name-city-input::placeholder {
  color: var(--input-placeholder-color);
}

.search-city {
  background: var(--input-bg-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.search-city:hover {
  background: var(--button-hover-color);
}

.climate-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.name-city {
  font-size: 1.5rem;
  font-weight: 600;
}

.img-climate-box {
  height: 6.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-climate-box > i {
  font-size: 6rem;
}

.temperature-climate {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.description-climate {
  margin: -1rem 0 1rem 0;
  font-size: 1rem;
  color: var(--input-placeholder-color);
}

.outher-climate-data {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.outher-climate-data > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outher-climate-data > div > p {
  text-align: center;
}

.outher-climate-data > div > i {
  font-size: 2rem;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    padding: 10px;
  }

  .name-city-input {
    font-size: 0.9rem;
  }

  .searchForm {
    gap: 5px;
  }

  .temperature-climate {
    font-size: 1.5rem;
  }
}
